
/*
最低限やってほしいこと
・横幅固定
・文字周りに余白
・若干透過
*/
.toast{
    /* 見た目 */
    height: '40px';
    width: '150px';
    display: 'flex';
    color: #FFFFFF;
    background: #000000;

    /* 位置 */
    position: fixed;
    right: 50px;
    bottom: 50px;
}