
/*
最低限やってほしいこと
・横幅固定
・文字周りに余白
・若干透過
*/
.toast_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.toast{
    /* 見た目 */
    height: auto;
    width: 210px;
    display: flex;
    color: #FFFFFF;
    background: rgb(23, 108, 147);
    padding: 15px;
    border-radius: 8px;
    opacity: 0.7;

    /* 位置 
    position: fixed;
    right: 0px;
    bottom: 50px;*/

    animation: slideIn 0.3s ease-out, /*fadeOut 0.3s 3s ease-in forwards;*/
}

/*
.toast.hiding{
消えるときのは多分ここに書けばいいはず。てじよろ。
}
*/

@keyframes slideIn {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    80% {
        transform: translateX(-4px); /* つるん */
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(10px);
    }
}