
/*
最低限やってほしいこと
・横幅固定
・文字周りに余白
・若干透過
*/
.toast_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.toast{
    /* 見た目 */
    height: auto;
    width: 210px;
    display: flex;
    color: #FFFFFF;
    background: rgb(23, 108, 147);
    padding: 15px;
    border-radius: 8px;
    opacity: 0.7;

    /* hover 時のぬるっと感 */
    transition: opacity 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;

    animation: slideIn 0.3s ease-out forwards;
    /* fadeOut 0.3s 3s ease-in forwards; */
} 

.toast:hover {
    opacity: 1;
    transform: scale(1.02);
    cursor: default;
    
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


.toast.hiding{
    animation: fadeOut 0.3s ease-in forwards;
}


@keyframes slideIn {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }
    80% {
        transform: translateX(-4px); /* つるん */
        opacity: 1;
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(10px);
    }
}