/* .react-select__control{
     /* width: 50%;  */
    /* margin:0 auto; */
/* } */
.tag-list{
    /* display: flex;  */
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}
.tag-row{
    grid-template-columns: 1fr 2fr;
    display: grid;  
    align-items: center;
    /* width: 100px; */
    gap: 8px;
    /* margin-right: 8px; */
}
.tag-row label{
    /* justify-self: start; */
    width: 70px;
    margin-right: 10px;
}

.tag-row select{
    width: 200px;
     height:20px; 
}

ul{
    list-style: none;
    width: fit-content;
    margin: 0 auto;
    /* text-align: center; */
    /* padding:0 20px; */
    /* list-style-position: outside; */
}
li{
    margin-bottom: 10px;
    /* display: inline; */
}

select option{
    font-size: 16px;
    width: 100%;
} 